@import "tailwindcss";

@theme {
  --color-neutral-950: #0a0a0a;
}

@layer base {
  body {
    @apply bg-neutral-950 text-neutral-200 antialiased selection:bg-neutral-800;
  }
}

button, [role="button"] {
  cursor: pointer !important;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

